<div class="login-container">
    <div class="overlay"></div> 
    <div class="logo">
        <h1>PARKING APP</h1>
    </div>
    <form>
        <div class="input-group">
            <input type="text" placeholder="Usuario">
        </div>
        <div class="input-group">
            <input type="password" placeholder="Contraseña">
        </div>
        <button type="button" class="login-button" (click)="Login()">Iniciar sesión</button>
    </form>
    <div class="links">
        <a class="register-link" href="#">Regístrate</a>
    </div>
</div>


 